<div style="position:absolute; left:20px; top:100px; text-align: left ; font-family:'Arial'; font-size:11pt;" >
<h2>Message sent</h2>
<p>A message has been sent to <%= params[:tell][:name]%> (<%= params[:tell][:email]%>)</p>
<br>
Thanks for spreading the word

</div>