

<DIV id=u36 style="position:absolute; left:36px; top:118px; width:130px; height:22px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u36_rtf><span style=" font-family:'Arial'; color:#333350; font-size:14pt;">About Minetoo</span></DIV></DIV>

<DIV id=u37ann style="font-size:1px; position:absolute; left:401px; top:356px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u39 style="position:absolute; left:20px; top:462px; width:540px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u39_rtf>&nbsp;</DIV></DIV>
<DIV id=u40 style="position:absolute; left:20px; top:540px; width:540px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u40_rtf>&nbsp;</DIV></DIV>

<DIV id=u41container style="position:absolute; left:170px; top:820px; width:241px; height:26px;; overflow:visible">

<DIV id=u42 style="position:absolute; left:2px; top:4.5px; width:236px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u42_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= link_to 'Click here to get started',home_path %></span></div></DIV></DIV>
</DIV>


<DIV id=u41ann style="font-size:1px; position:absolute; left:401px; top:816px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u43 style="position:absolute; left:10px; top:150px; width:560px; height:224px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u43_rtf><div style="text-align:center"><span style=" font-family:'Arial'; font-size:10pt;">Have you ever wondered who else was born on your birthday - who else came into the world the exact same day as yourself?<br><br>Forget historical figures, politicians, film stars or famous musicians who share your birthday. You'll probably know about those anyway. Many websites have 'famous people born on this day' slots. Minetoo.com is a new site with a completely different take on the &quot;same birthday&quot; phenomenon. We're interested in people like you and me. People living their lives in different places, who don't yet know each other, yet happen to share something very special... namely the day they were born, the day they emerged into the world. Minetoo.com will help you meet some of the hundreds of thousands of people who share your date of birth. If you've ever asked yourself the question: &quot;I wonder who else shares my birthday?&quot; - then this site is for you, it's as simple as that.</span></div></DIV></DIV>
<DIV id=u44 style="position:absolute; left:10px; top:400px; width:570px; height:400px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u44_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">With Minetoo.com you will discover people who share your date of birth - perhaps even the hour. Although we never reveal your email address, you will be able to search for those with the same birthday, browse through their interests, read about their lives. Should you wish you will be able to make contact with them directly through the site.<br><br>Minetoo.com offers birthday sharers a chance to satisfy their own curiosity - and make new friends. Also to test out, over time, whether horoscope predictions are confirmed by our members' life experiences. The more people who use the site the more accurate, more complete picture all of us will have. We'll be better able to answer the fascinating question of whether astrology's claims are true. Star sign compatibility or just serendipity? You choose.<br><br>At first - as the Minetoo.com project builds up - there won't be much to see. This is normal and expected. Stay with us though and don't let it stop you joining (remember, joining is free). Your patience will bear fruit. As more and more people all over the world discover Minetoo.com, it will become a great place to spend time. Don't forget we'll remind you whenever we find someone who shares your birthday. When we get a Minetoo Match we'll email you, so you don't have to keep logging on every day.<br>It's going to be an interesting journey. Thanks for joining us and don't forget to tell your friends.</span></DIV></DIV>


<DIV id=u45container style="position:absolute; left:4px; top:745px; width:196px; height:26px;; overflow:visible">

<DIV id=u46 style="position:absolute; left:2px; top:4.5px; width:191px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u46_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#333399; font-size:10pt;"><%= link_to 'More thoughts and questions...',thoughts_path %></span></div></DIV></DIV>
</DIV>


<DIV id=u47container style="position:absolute; left:10px; top:775px; width:139px; height:23px;; overflow:visible">

<DIV id=u48 style="position:absolute; left:2px; top:3px; width:134px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u48_rtf><span style=" font-family:'Arial'; color:#333399; font-size:10pt;"><%= link_to 'The Birthday Paradox',paradox_path %></span></DIV></DIV>
</DIV>

